
@import '../../../@theme/styles/themes';

@include nb-install-component() {
  text-align: center;
}
button {
	height: 50% ;
	width: 100%;
	font-size: 125% !important;
}
.no_padding {
	padding: 0px;
}