/*#x1, #x2 , #xy{
    position: absolute;
    width: 30px;
    height: 30px;
    margin: 1.25rem;
}
#robotino{
    position: absolute;
    width: 40px;
    height: 40px;
    margin: 1.25rem;
}
rect {
	position: absolute;
}

svg {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 1543px;
	height: 497px;
	margin: 1.25rem;
}

 #halle_container {
	padding: 0px !important;
}
*/
