
<!--<nb-card>
  <nb-card-header>Test
  </nb-card-header>
  <nb-card-body>
    <div class="row">
      <div class="col-md-12">
        <div class="example-container toggle-types">

          <div  ngbRadioGroup
               class="btn-group btn-group-toggle btn-outline-toggle-group btn-group-full-width btn-toggle-radio-group" >
            <label ngbButtonLabel class="btn btn-outline-primary">
              <input ngbButton type="radio" >1 <!--[value]="values[1]"
            </label>
            <label ngbButtonLabel class="btn btn-outline-primary">
              <input ngbButton type="radio" > 2
            </label>
            <label ngbButtonLabel class="btn btn-outline-primary">
              <input ngbButton type="radio" > 3
            </label>
          </div>
          </div>
      </div>
  </div>
</nb-card-body>
</nb-card>
<nb-card>
  <nb-card-header> KDofke
  </nb-card-header>
  <nb-card-body>
    <div class="row">
      <div class="col-md-12">
        <div class="example-container toggle-types">

          <div  ngbRadioGroup
               class="btn-group btn-group-toggle btn-outline-toggle-group btn-group-full-width btn-toggle-radio-group" >
            <label ngbButtonLabel class="btn btn-outline-primary">
              <input ngbButton type="radio" > tfj
            </label>
            <label ngbButtonLabel class="btn btn-outline-primary">
              <input ngbButton type="radio" > Wktft
            </label>
            <label ngbButtonLabel class="btn btn-outline-primary">
              <input ngbButton type="radio"  > tfkff
            </label>
          </div>
          </div>
      </div>
  </div>
</nb-card-body>
</nb-card> -->
<nb-card>
  <nb-card-header>Parcel Job Manager</nb-card-header>
  <nb-card-body>
  	<!--<div class="row">
      <div class="input-group col-md-6">
            <span class="input-group-addon primary" >Gewicht in kg</span>
            <input type="number" class="form-control" [(ngModel)]="rows" (change)="refresh()" />
      </div>
      <br />

  </div>
  <br /> -->
  <div class="row">
   <button class="btn btn-success col-md-4" (click)="newTruck()">Dispatch new Truck</button>
  </div>
  </nb-card-body>
</nb-card>
