<div class="row">
  <div class="col-lg-6">
    <nb-card>
      <nb-card-header>Häufigkeit der Ziele</nb-card-header>
      <nb-card-body>
        <ngx-echarts-user-pie></ngx-echarts-user-pie>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-lg-6">
    <nb-card>
      <nb-card-header>Aktivität</nb-card-header>
      <nb-card-body>
        <ngx-echarts-user-bar></ngx-echarts-user-bar>
      </nb-card-body>
    </nb-card>
  </div>
  <!--
  <div class="col-lg-6">
    <nb-card>
      <nb-card-header></nb-card-header>
      <nb-card-body>
        <ngx-echarts-user-line></ngx-echarts-user-line>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-lg-6">
    <nb-card>
      <nb-card-header>Multiple x-axis</nb-card-header>
      <nb-card-body>
        <ngx-echarts-user-multiple-xaxis></ngx-echarts-user-multiple-xaxis>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-lg-6">
    <nb-card>
      <nb-card-header>Area Stack</nb-card-header>
      <nb-card-body>
        <ngx-echarts-user-area-stack></ngx-echarts-user-area-stack>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-lg-6">
    <nb-card>
      <nb-card-header>Bar Animation</nb-card-header>
      <nb-card-body>
        <ngx-echarts-user-bar-animation></ngx-echarts-user-bar-animation>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-lg-6">
    <nb-card>
      <nb-card-header>Radar</nb-card-header>
      <nb-card-body>
        <ngx-echarts-user-radar></ngx-echarts-user-radar>
      </nb-card-body>
    </nb-card>
  </div>
-->
</div>
